{{!-- {{#is page.name "Typography"}}is-active{{else}}{{/is}} --}}

<li class="ter-tree-menu__list-item{{#is page.name "Getting Started"}} is-active{{else}}{{/is}}"><a href="/documentation/getting-started">Getting Started</a></li>
<li class="ter-tree-menu__list-item is-expandable {{#is page.parent "Style"}} is-expanded{{else}}{{/is}}">
	<a data-href="#">Style</a>
	<ul class="ter-tree-menu__list">
		<li class="ter-tree-menu__list-item"><a href="/documentation/style/accessibility">Accessibility</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/style/color-palette">Color Palette</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/style/depth">Depth</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/style/structure">Structure</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/style/typography">Typography</a></li>
	</ul>
</li>
<li class="ter-tree-menu__list-item is-expandable {{#is page.parent "Layout"}} is-expanded{{else}}{{/is}}">
	<a data-href="#">Layout</a>
	<ul class="ter-tree-menu__list">
		<li class="ter-tree-menu__list-item"><a href="/documentation/layout/flexbox">Flexbox</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/layout/grid">Grid</a></li>
	</ul>
</li>
<li class="ter-tree-menu__list-item is-expandable {{#is page.parent "Components"}} is-expanded{{else}}{{/is}}">
	<a data-href="#">Components</a>
	<ul class="ter-tree-menu__list">
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/accordion">Accordion</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/alert">Alert</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/breadcrumb">Breadcrumb</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/button">Button</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/card">Card</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/dropdown">Dropdown</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/forms">Forms</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/modal">Modal</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/navbar">Navbar</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/notification">Notification</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/pagination">Pagination</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/table">Table</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/tabs">Tabs</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/tooltips">Tooltips</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/components/tree-menu">Tree Menu</a></li>
	</ul>
</li>
<li class="ter-tree-menu__list-item is-expandable {{#is page.parent "Utilities"}} is-expanded{{else}}{{/is}}">
	<a data-href="#">Utilities</a>
	<ul class="ter-tree-menu__list">
		<li class="ter-tree-menu__list-item"><a href="/documentation/utilities/hidden">Hidden</a></li>
		<li class="ter-tree-menu__list-item"><a href="/documentation/utilities/spacing">Spacing</a></li>
	</ul>
</li>