<nav class="side-nav">
{{!-- 	<div class="side-nav__section">
		<div class="input-group">
			<label>Select a Theme</label>
			<div class="select-wrap">
				<select>
					<option>Alpha</option>
					<option>Beta</option>
					<option>Delta</option>
				</select>
			</div>
        </div>
	</div> --}}
	<div class="side-nav__section side-nav__section--fill-height">
		<div class="heading-6 margin-bottom-5">Documentation</div>
		<ul class="tree-menu">
			<li {{#is page.name "Getting Started"}} class="active"{{else}}{{/is}}><a href="/documentation/getting-started">Getting Started</a></li>
			<li class="expandable {{#is page.parent "Style"}} expanded{{else}}{{/is}}">
				<a data-href="#">Style</a>
				<i class="fas fa-chevron-right"></i>
				<ul class="expandable-menu">
					<li {{#is page.name "Accessibility"}} class="active"{{else}}{{/is}}><a href="/documentation/style/accessibility">Accessibility</a></li>
					<li {{#is page.name "Color Palette"}} class="active"{{else}}{{/is}}><a href="/documentation/style/color-palette">Color Palette</a></li>
					<li {{#is page.name "Depth"}} class="active"{{else}}{{/is}}><a href="/documentation/style/depth">Depth</a></li>
					<li {{#is page.name "Grid"}} class="active"{{else}}{{/is}}><a href="/documentation/style/grid">Grid</a></li>
{{!-- 					<li {{#is page.name "Structure"}} class="active"{{else}}{{/is}}><a href="/documentation/style/structure">Structure</a></li> --}}
					<li {{#is page.name "Typography"}} class="active"{{else}}{{/is}}><a href="/documentation/style/typography">Typography</a></li>
				</ul>
			</li>
			<li class="expandable {{#is page.parent "Components"}} expanded{{else}}{{/is}}">
				<a data-href="#">Components</a>
				<i class="fas fa-chevron-right"></i>
				<ul class="expandable-menu">
					<li {{#is page.name "Accordion"}} class="active"{{else}}{{/is}}><a href="/documentation/components/accordion">Accordion</a></li>
					<li {{#is page.name "Alert"}} class="active"{{else}}{{/is}}><a href="/documentation/components/alert">Alert</a></li>
					<li {{#is page.name "Breadcrumb"}} class="active"{{else}}{{/is}}><a href="/documentation/components/breadcrumb">Breadcrumb</a></li>
					<li {{#is page.name "Button"}} class="active"{{else}}{{/is}}><a href="/documentation/components/button">Button</a></li>
					<li {{#is page.name "Card"}} class="active"{{else}}{{/is}}><a href="/documentation/components/card">Card</a></li>
					<li {{#is page.name "Dropdown"}} class="active"{{else}}{{/is}}><a href="/documentation/components/dropdown">Dropdown</a></li>
					<li {{#is page.name "Forms"}} class="active"{{else}}{{/is}}><a href="/documentation/components/forms">Forms</a></li>
					<li {{#is page.name "Modal"}} class="active"{{else}}{{/is}}><a href="/documentation/components/modal">Modal</a></li>
					<li {{#is page.name "Notification"}} class="active"{{else}}{{/is}}><a href="/documentation/components/notification">Notification</a></li>
					<li {{#is page.name "Pagination"}} class="active"{{else}}{{/is}}><a href="/documentation/components/pagination">Pagination</a></li>
					<li {{#is page.name "Tabs"}} class="active"{{else}}{{/is}}><a href="/documentation/components/tabs">Tabs</a></li>
					<li {{#is page.name "Tooltips"}} class="active"{{else}}{{/is}}><a href="/documentation/components/tooltips">Tooltips</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>